body {
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.item_description {
    max-height: 200px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}